<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /psychosyntesis/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /psychosyntesis/index.html [L]
</IfModule>

<IfModule mod_headers.c>
  Header unset Content-Security-Policy
  Header unset X-Content-Security-Policy
</IfModule>
